/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    background-color: #f0be86;
    margin: 0;
    padding: 0;
}

/* Header */
.site-header {
    background-color: #5d7052;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.site-logo {
    max-width: 100px;
    height: auto;
}

/* Navigation principale */
.main-navigation {
    margin-top: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

/* Formulaire d'inscription et de connexion */

.container{
    padding: 20px auto;
    margin: 30px auto;
}

.login {
    width: 40%;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
    margin: 30px auto;
    float: left;
    text-align: center;
}

.connexion {
    width: 40%;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
    margin: 30px auto;
    float: right;
    text-align: center;
}

.field {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #5d7052;
    color: #fff;
    text-align: center;
    margin: 400px 0 auto;
    padding: 20px 0;
    position: absolute;
    width: 100%;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.footer-icon {
    max-width: 24px;
    height: auto;
}